# LLM Providers
groq>=0.31.0
mistralai>=1.9.0

# LangChain
langchain>=0.3.27
langchain-core>=0.3.75
langchain-community>=0.3.27
langchain-groq>=0.3.7
langchain-mistralai>=0.2.11

# Environment Variables
python-dotenv>=1.1.0

# API & Validation
fastapi>=0.116.0
uvicorn>=0.35.0
pydantic>=2.11.0

# HTTP
httpx>=0.28.1
requests>=2.32.0